<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="row">

            <div class="col-md-4">
                <div class=" card text-white bg-success mb-3 " style="max-width: 20rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */ ">
                    <div class="card-header " style="text-align: center; ">Total Users</div>
                    <div class="card-body ">
                        <p class="card-text " style="text-align: center; ">
                            <%=tu-1%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card text-white bg-success mb-3 " style="max-width: 20rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */ ">
                    <div class="card-header " style="text-align: center; ">Total Receipts</div>
                    <div class="card-body ">
                        <p class="card-text " style="text-align: center; ">
                            <%=tr%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card text-white bg-success mb-3 " style="max-width: 20rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */ ">
                    <div class="card-header " style="text-align: center; ">Average Receipts per User</div>
                    <div class="card-body ">
                        <p class="card-text " style="text-align: center; ">
                            <%=avgr%>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row ">
            <div class="col-md-4 ">
                <div class="card text-white bg-success mb-3 " style="max-width: 20rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */ ">
                    <div class="card-header " style="text-align: center; ">Sharable Links Activated</div>
                    <div class="card-body ">
                        <p class="card-text " style="text-align: center; ">
                            <%=s%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card text-white bg-success mb-3 " style="max-width: 20rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */ ">
                    <div class="card-header " style="text-align: center; ">Total Reports</div>
                    <div class="card-body ">
                        <p class="card-text " style="text-align: center; ">
                            <%=tre%>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="card text-white bg-success mb-3 " style="max-width: 20rem; margin: 0 auto; /* Added */ float: none; /* Added */ margin-bottom: 10px; /* Added */ ">
                    <div class="card-header " style="text-align: center; ">Average Reports per User</div>
                    <div class="card-body ">
                        <p class="card-text " style="text-align: center; ">
                            <%=avgre%>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>