<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Report</title>
    <%-include('../partials/bootstrap')%>
</head>

<body>
    <%-include('../partials/navigation-user')%>
        <div class="container">
            <div class="row">
                <div class="col-md-3">

                </div>
                <div class="col-md-6">
                    <br>
                    <h1 class="display-4" style="text-align: center;">Edit Report</h1>
                    <hr>
                    <div class="container">
                        <form action='/user/edit-report/<%=r[0].id%>' method='POST' enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="title">Title</label>
                                <input type="text" class="form-control" id="title" name="title" value="<%=r[0].title%>">

                            </div>
                            <div class="form-group">
                                <label for="body">Description</label>
                                <input type="text" class="form-control" name="body" id="body" value="<%=r[0].body%>">
                                <input type="text" class="form-control" hidden name="fileName" placeholder='Description' id="body" value="<%=r[0].file%>">
                            </div>
                            <div class="form-group">
                                <label for="file">Attachments</label>
                                <input type="file" class="form-control" name="file" id="file">
                                <a target="_blank" href="/user/view-file/<%=r[0].file%>">View Current File</a>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%-include('../partials/bootstrap-script')%>

</body>

</html>